.background {
  viewport-fill: black;
}

#date {
  x: 54%;
  y: 17%;
  fill: black;
}

#dateShadow {
  x: 53%;
  y: 18%;
  fill: #D3904A;
}

#time {
  x: 54%;
  y: 48%;
  fill: black;
}

#timeShadow {
  x: 53%;
  y: 49%;
  fill: #D3904A;
}